<div class="siraga-lapangan">
      <div class="div">
        <div class="navbar">
          <div class="icon-frame">
            <div class="notification-icon">
              <div class="group">
                <div class="overlap-group"><img class="element" src="/assets/img/lapangan/1-1.svg" /></div>
              </div>
            </div>
          </div>
          <img class="vector" src="/assets/img/lapangan/vector-196.svg" />
          <div class="group-2">
            <div class="group-3">
              <div class="text-wrapper">Harry Maguire, S.Kom</div>
              <div class="group-4">
                <div class="text-wrapper-2">NIK</div>
                <div class="group-5">
                  <div class="text-wrapper-3">16712325848493033</div>
                  <div class="text-wrapper-2">:</div>
                </div>
              </div>
            </div>
            <img class="mask-group" src="/assets/img/lapangan/mask-group.png" />
          </div>
          <div class="siraga-icon">
            <img class="img" src="/assets/img/lapangan/group-771349.png" />
            <div class="text-wrapper-4">Siraga</div>
          </div>
        </div>
        <div class="group-wrapper">
          <div class="group-6">
            <div class="div-wrapper">
              <div class="group-7">
                <img class="dinas-komunikasi-dan" src="/assets/img/lapangan/dinas-komunikasi-dan-informatika-kota-palembang.svg" />
                <img class="logo-kominfo-without" src="/assets/img/lapangan/logo-kominfo-without-3.png" />
              </div>
            </div>
            <div class="group-8">
              <div class="group-9">
                <img class="LOGO-KOTA-PALEMBANG" src="/assets/img/lapangan/logo-kota-palembang-3.png" />
                <img class="pemerintah-kota" src="/assets/img/lapangan/pemerintah-kota-palembang.svg" />
              </div>
            </div>
            <div class="logo-bsre-wrapper"><img class="logo-bsre" src="/assets/img/lapangan/logo-bsre-1.png" /></div>
          </div>
        </div>
        <img class="rectangle" src="/assets/img/lapangan/rectangle-10917.png" />
        <div class="content">
          <div class="header">
            <div class="text-frame">
              <div class="label-frame">
                <div class="label"><div class="text-wrapper-5">Lapangan Bola kaki</div></div>
                <div class="ellipse"></div>
                <div class="label-2">
                  <img class="share-icon" src="/assets/img/lapangan/share-icon.svg" />
                  <div class="text-wrapper-6">Share</div>
                </div>
              </div>
              <div class="text-wrapper-7">Lapangan Bola Kaki Hatta</div>
              <div class="frame">
                <img class="img-2" src="/assets/img/lapangan/location-icon.svg" />
                <p class="p">
                  Jl. Taman Siswa, Kepandean Baru, Kec. Ilir Tim. I, Kota Palembang, Sumatera Selatan 30114
                </p>
              </div>
            </div>
            <div class="side-header">
              <div class="text-frame-2">
                <div class="text-wrapper-8">Tarif Mulai Dari</div>
                <p class="rp-sesion">
                  <span class="span">Rp. 1.500.000</span> <span class="text-wrapper-9">/Sesion</span>
                </p>
              </div>
              <div class="label-3"><a href="/booking/1"><div class="text-wrapper-10">Pesan Lapangan</div></a></div>
            </div>
          </div>
          <img class="separator" src="/assets/img/lapangan/separator.svg" />
          <div class="div-2">
            <div class="text-wrapper-11">Detail Lapangan</div>
            <div class="deskripsi-group">
              <div class="deskripsi-frame">
                <img class="img-2" src="/assets/img/lapangan/file-icon.svg" />
                <div class="text-frame-3">
                  <div class="text-wrapper-12">Deskripsi Lapangan:</div>
                  <p class="text-wrapper-13">Lapangan Sepak Bola Kaki Hatta, yang berada ditengah kota Palembang.</p>
                </div>
              </div>
              <div class="deskripsi-group-2">
                <div class="deskripsi-frame-2">
                  <img class="img-2" src="/assets/img/lapangan/stadium-icon.svg" />
                  <div class="text-frame-3">
                    <div class="text-wrapper-12">Tipe Lapangan:</div>
                    <div class="text-wrapper-13">Outdoor</div>
                  </div>
                </div>
                <div class="deskripsi-frame-3">
                  <img class="img-2" src="/assets/img/lapangan/size-icon-1.svg" />
                  <div class="text-frame-3">
                    <div class="text-wrapper-12">Ukuran Lapangan:</div>
                    <div class="text-wrapper-13">200m</div>
                  </div>
                </div>
                <div class="deskripsi-frame-4">
                  <img class="img-2" src="/assets/img/lapangan/audience-icon-1.svg" />
                  <div class="text-frame-3">
                    <div class="text-wrapper-12">Kapasitas Lapangan:</div>
                    <div class="text-wrapper-13">100 Orang</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img class="separator" src="/assets/img/lapangan/separator.svg" />
          <div class="div-2">
            <div class="header-2">
              <div class="text-wrapper-11">Daftar Jadwal Lapangan</div>
              <div class="text-wrapper-14">09/24/2023 – 9/30/2023</div>
            </div>
            <div class="date-and-time-frame">
              <div class="date-and-time">
                <div class="date"><div class="text-wrapper-5">Minggu 24/9</div></div>
                <div class="time">
                  <div class="frame-2">
                    <div class="ellipse-2"></div>
                    <div class="text-wrapper-15">06:00 - 12:00</div>
                  </div>
                  <div class="frame-2">
                    <div class="ellipse-3"></div>
                    <div class="text-wrapper-15">12:00 - 18:00</div>
                  </div>
                </div>
              </div>
              <div class="date-and-time-2">
                <div class="date"><div class="text-wrapper-5">Senin 25/9</div></div>
                <div class="time">
                  <div class="frame-2">
                    <div class="ellipse-4"></div>
                    <div class="text-wrapper-15">06:00 - 12:00</div>
                  </div>
                  <div class="frame-2">
                    <div class="ellipse-3"></div>
                    <div class="text-wrapper-15">12:00 - 18:00</div>
                  </div>
                </div>
              </div>
              <div class="date-and-time-2">
                <div class="date"><div class="text-wrapper-5">Selasa 26/9</div></div>
                <div class="time">
                  <div class="frame-2">
                    <div class="ellipse-3"></div>
                    <div class="text-wrapper-15">06:00 - 12:00</div>
                  </div>
                  <div class="frame-2">
                    <div class="ellipse-3"></div>
                    <div class="text-wrapper-15">12:00 - 18:00</div>
                  </div>
                </div>
              </div>
              <div class="date-and-time-2">
                <div class="date"><div class="text-wrapper-5">Rabu 27/9</div></div>
                <div class="time">
                  <div class="frame-2">
                    <div class="ellipse-2"></div>
                    <div class="text-wrapper-15">06:00 - 12:00</div>
                  </div>
                  <div class="frame-2">
                    <div class="ellipse-3"></div>
                    <div class="text-wrapper-15">12:00 - 18:00</div>
                  </div>
                </div>
              </div>
              <div class="date-and-time-2">
                <div class="date"><div class="text-wrapper-5">Kamis 28/9</div></div>
                <div class="time">
                  <div class="frame-2">
                    <div class="ellipse-3"></div>
                    <div class="text-wrapper-15">06:00 - 12:00</div>
                  </div>
                  <div class="frame-2">
                    <div class="ellipse-3"></div>
                    <div class="text-wrapper-15">12:00 - 18:00</div>
                  </div>
                </div>
              </div>
              <div class="date-and-time-2">
                <div class="date"><div class="text-wrapper-5">Jumat 29/9</div></div>
                <div class="time">
                  <div class="frame-2">
                    <div class="ellipse-5"></div>
                    <div class="text-wrapper-15">06:00 - 12:00</div>
                  </div>
                  <div class="frame-2">
                    <div class="ellipse-3"></div>
                    <div class="text-wrapper-15">12:00 - 18:00</div>
                  </div>
                </div>
              </div>
              <div class="date-and-time-2">
                <div class="date"><div class="text-wrapper-5">Sabtu 30/9</div></div>
                <div class="time">
                  <div class="frame-2">
                    <div class="ellipse-2"></div>
                    <div class="text-wrapper-15">06:00 - 12:00</div>
                  </div>
                  <div class="frame-2">
                    <div class="ellipse-3"></div>
                    <div class="text-wrapper-15">12:00 - 18:00</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-frame-3">
              <div class="frame-2">
                <div class="ellipse-4"></div>
                <div class="text-wrapper-15">Jadwal Tersedia</div>
              </div>
              <div class="frame-2">
                <div class="ellipse-6"></div>
                <div class="text-wrapper-15">Jadwal Terpesan</div>
              </div>
              <div class="frame-2">
                <div class="ellipse-7"></div>
                <div class="text-wrapper-15">Jadwal Pemkot Palembang</div>
              </div>
            </div>
            <img class="separator-2" src="/assets/img/lapangan/separator.svg" />
          </div>
          <div class="div-2">
            <div class="text-wrapper-11">Lokasi Lapangan</div>
            <div class="map">
              <img class="rectangle-2" src="/assets/img/lapangan/rectangle-10923.png" />
              <div class="label-4">
                <p class="text-wrapper-16">
                  Jl. Taman Siswa, Kepandean Baru, Kec. Ilir Tim. I, Kota Palembang, Sumatera Selatan 30114
                </p>
                <button class="button">
                  <div class="frame-3">
                    <img class="img-2" src="/assets/img/lapangan/direction-icon-1.svg" />
                    <div class="text-wrapper-17">Arahkan</div>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>