    <div class="siraga-home">
      <div class="div">
        <div class="navbar">
          <div class="icon-frame">
            <div class="notification-icon">
              <div class="group">
                <div class="overlap-group"><img class="element" src="assets/img/home/1.svg" /></div>
              </div>
            </div>
          </div>
          <img class="vector" src="assets/img/home/vector-196.svg" />
          <div class="group-2">
            <div class="group-3">
              <div class="text-wrapper">Harry Maguire, S.Kom</div>
              <div class="group-4">
                <div class="text-wrapper-2">NIK</div>
                <div class="group-5">
                  <div class="text-wrapper-3">16712325848493033</div>
                  <div class="text-wrapper-2">:</div>
                </div>
              </div>
            </div>
            <img class="mask-group" src="assets/img/home/mask-group.png" />
          </div>
          <div class="siraga-icon">
            <img class="img" src="assets/img/home/group-771349.png" />
            <div class="text-wrapper-4">Siraga</div>
          </div>
        </div>
        <div class="header-menu">
          <p class="p">Selamat Datang Dibooking Lapangan Kota Palembang</p>
          <a href="/booking/1" class="card">
            <div class="card-frame">
                <div class="group-6">
                    <div class="text-wrapper-5">Booking Lapangan</div>
                    <img class="booking-icon" src="assets/img/home/booking-icon.svg" />
                </div>
            </div>
          </a>

        </div>
        <img class="spearator" src="assets/img/home/spearator.svg" />
        <div class="group-wrapper">
          <div class="group-7">
            <div class="div-wrapper">
              <div class="group-8">
                <img class="dinas-komunikasi-dan" src="assets/img/home/dinas-komunikasi-dan-informatika-kota-palembang.svg" />
                <img class="logo-kominfo-without" src="assets/img/home/logo-kominfo-without-3.png" />
              </div>
            </div>
            <div class="group-9">
              <div class="group-10">
                <img class="LOGO-KOTA-PALEMBANG" src="assets/img/home/LOGO-KOTA-PALEMBANG-3.png" />
                <img class="pemerintah-kota" src="assets/img/home/pemerintah-kota-palembang.svg" />
              </div>
            </div>
            <div class="logo-bsre-wrapper"><img class="logo-bsre" src="assets/img/home/logo-bsre-1.png" /></div>
          </div>
        </div>
        <div class="lapangan-frame">
          <header class="header"><div class="text-wrapper-6">Lapangan Dikota Palembang</div></header>
          <div class="card-frame-2">
            <div class="dispora-card">
              <div class="image-list">
                <img class="image" src="assets/img/home/image-10-4.png" /> <img class="vector-2" src="assets/img/home/vector-197.svg" />
              </div>
              <div class="text-frame">
                <div class="label"><div class="text-wrapper-7">Lapangan Bola Kaki</div></div>
                <div class="text-wrapper-8">Lapangan Bola Kamboja</div>
                <div class="text-wrapper-9">Mayor Santoso, Palembang</div>
              </div>
              <div class="detail-frame">
                <div class="text-wrapper-10">Lihat Lapangan</div>
                <img class="arrow-icon" src="assets/img/home/arrow-icon.svg" />
              </div>
            </div>
            <div class="dispora-card-2">
              <div class="image-list">
                <img class="image-2" src="assets/img/home/image-10-3.png" /> <img class="vector-2" src="assets/img/home/vector-197.svg" />
              </div>
              <div class="text-frame">
                <div class="label"><div class="text-wrapper-7">Lapangan Bola Kaki</div></div>
                <div class="text-wrapper-8">Lapangan Bola Hatta</div>
                <div class="text-wrapper-9">Taman Siswa, Palembang</div>
              </div>
              
              <div class="detail-frame">
                  <a href="home/detail"><div class="text-wrapper-10">Lihat Lapangan</div></a>
                  <a href="home/detail"><img class="arrow-icon" src="assets/img/home/arrow-icon-3.svg" /></a>
              </div>

            </div>
            <div class="dispora-card-2">
              <div class="image-list">
                <img class="image-2" src="assets/img/home/image-10-2.png" /> <img class="vector-2" src="assets/img/home/vector-197.svg" />
              </div>
              <div class="text-frame">
                <div class="label"><div class="text-wrapper-7">Lapangan Bulu Tangkis</div></div>
                <div class="text-wrapper-8">Lapangan Bulu Tangkis Cempako</div>
                <div class="text-wrapper-9">26 Ilir, Palembang</div>
              </div>
              <div class="detail-frame">
                <div class="text-wrapper-10">Lihat Lapangan</div>
                <img class="arrow-icon" src="assets/img/home/arrow-icon-2.svg" />
              </div>
            </div>
            <div class="dispora-card-3">
              <div class="image-list">
                <img class="image-2" src="assets/img/home/image-10-1.png" /> <img class="vector-2" src="assets/img/home/vector-197.svg" />
              </div>
              <div class="text-frame">
                <div class="label"><div class="text-wrapper-7">Lapangan Tenis</div></div>
                <div class="text-wrapper-8">Lapangan Tenis Bhakti</div>
                <div class="text-wrapper-9">Jl Eka Bhakti, Palembang</div>
              </div>
              <div class="detail-frame">
                <div class="text-wrapper-10">Lihat Lapangan</div>
                <img class="arrow-icon" src="assets/img/home/arrow-icon-1.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>